<div class="w3-third">
    <div class="w3-card">
        <img src="{{image}}" style="width:100%">
        <div class="w3-container">
            <a href="/switches/{{id}}">
                <h4>{{name}}</h4>
            </a>
        </div>
    </div>
</div>