<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Switches Wiki</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3pro.css">
    <link rel="stylesheet" href="/css/w3-theme.css">
</head>

<body>
    <div class="w3-bar w3-light-grey w3-theme">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/switches" class="w3-bar-item w3-button">Switches</a>
        <a href="/switches/add" class="w3-bar-item w3-button">Add switch</a>
    </div>

    {{{body}}}

    <footer class="w3-bottom w3-center w3-theme-dark">©harecs</footer>
</body>

</html>