<div class="w3-display-container w3-animate-opacity">
    <img src="images/keyboards.webp" alt="Boat" style="width:100%;min-height:200px;max-height:400px;">
    <div class="w3-display-middle w3-padding-large w3-theme-dark w3-jumbo w3-round-xxlarge">KS Wiki</div>
    <div class="w3-container w3-display-bottomright w3-text-white w3-large">
        <p>Image: Keychron</p>
    </div>
</div>

<p class="w3-container w3-center w3-padding-large">Welcome to Key Switches Wiki - your ultimate guide to the diverse world of keyboard switches! Whether you're a
seasoned enthusiast or a curious newcomer, explore the nuances of each switch type and make informed choices for your
perfect typing experience. Join us in unraveling the art and science of keyboard switches - where every keypress tells a
story! Welcome to tactile wonder at Key Switches Wiki!
</p>