<div class="w3-card-4" style="width:50%">
    <img src="images/keyboards.webp" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
        <p>The Italian / Austrian Alps</p>
    </div>
</div>